{% extends "sidenav.html" %}
<!--The static folder consists of your bootstrap files (.css, .js, fonts, etc)-->
<!--When you load the static folders is calls all those folders in the static files without having to code each one in individually-->

{% block content %}

<header class="container">
  <h1>Daylan Quinn</h1>
  <h2>Scroll Down to see Completed Works
    <p class="animate-arrow">&darr;
    </p>
  </h2>
</header>
<section class="scroll-container">
  <div class="scroll-element">
hello
  </div>
  <div class="scroll-caption">
    This animation fades in.
  </div>
</section>
<section class="scroll-container">
  <div class="scroll-element ">

  </div>
  <div class="scroll-caption">
    This animation slides in to the top.
  </div>
</section>
<section class="scroll-container">
  <div class="scroll-element">

  </div>
  <div class="scroll-caption">
    This animation slides in from the left.
  </div>
</section>
<section class="scroll-container">
  <div class="scroll-element">

  </div>
  <div class="scroll-caption">
    This animation slides in from the right.
  </div>
</section>

<footer>
  <p>Website Created by Daylan Quinn</p>
  <p>
    07/2021
  </p>
</footer>


{% endblock %}